<div class="row">
  <div class="col-xs-6">
      {{#each burgers}}
        {{#unless this.devoured}}
        <div class=".d-inline-block">
          <div class="text-center .d-inline-block">
            {{this.id}}. {{this.burger_name}}
          </div>
          <div>
            <form action="/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="devoured" value="true">
              <button type="submit">Devour!</button>
            </form>
          </div>
        </div>
        {{/unless}}
      {{/each}}
  </div>
  <div class="col-xs-6 text-center">
    {{#each burgers}}
      {{#if this.devoured}}
        <div>
          {{this.id}}. {{this.burger_name}}
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3 text-center">
    <form class="create-update-form" action="/" method="POST">
      <div class="form-group">
        <label for="ca"></label>
        <input type="text" id="ca" name="name">
      </div>
      <button type="submit">Add Burger</button>
    </form>
  </div>
